<div>
    <h2 mat-dialog-title>Thêm người dùng mới</h2>
    <mat-dialog-content class="mat-typography" style="background-color: #fff;">
      <form [formGroup]="addCNForm">
        <mat-form-field>
          <input matInput placeholder="Tên chi nhánh" formControlName="tenCN">
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="onNoClick()">Hủy</button>
      <button mat-button (click)="onSubmit()">Thêm</button>
    </mat-dialog-actions>
  </div>